*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0e84fb;
    --secondary-color: #9792e2;
    --light-blue: #b4dcfe;

    --text-gray:#697e94;
    --text-black:#000;
    --text-white: #fff;
    --bg-white: #fff;
    --bg-dark-gray: #323232;
}

                /* Regole di debug */


.debug .box{
    padding: 1rem;
}









                /* Fine regole di debug */


                /* Utility */

.flex{
    display: flex;
}

.between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.more-rounded{
    border-radius: 20px;
}

.less-rounded{
    border-radius: 40px;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.margin-tb-1{
    margin: 1rem 0;
}

.margin-tb-1_5{
    margin: 1.5rem 0;
}

.margin-top-2_5{
    margin-top: 2.5rem;
}

.margin-tb-2_5{
    margin: 2.5rem 0;
}

.margin-left-1_5{
    margin-left: 1.5rem;
}

.pad-1_5{
    padding: 1.5rem;
}

.pad-top-7{
    padding-top: 7rem;
}

.pad-top-3{
    padding-top: 3rem;
}

.pad-bot-2{
    padding-bottom: 2rem;
}

.pad-bot-3{
    padding-bottom: 3rem;
}

.text-wht{
    color: var(--text-white);
}

.text-gray{
    color: var(--text-gray);
}

.text-secondary-col{
    color: var(--secondary-color);
}

.letter-space{
    letter-spacing: 3px;
}

.width-100{
    width: 100%;
}

.line-height-1_8{
    line-height: 1.8rem;
}

.line-height-2{
    line-height: 2rem;
}

.font-1_5{
    font-size: 1.5rem;
}

.font-2{
    font-size: 2rem;
}

.font-3{
    font-size: 3rem;
}

.font-w6{
    font-weight: 600;
}

                /* Fine UItility */

html{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.container{
    max-width: 600px;
    margin: auto;
    padding: 0 1.5rem;
}

main{
    padding-top: 100px;
}

section{
    scroll-margin-top: 85px;
}
            
                        /* header  */

#site-header{
    background-color: var(--primary-color);
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
}

#site-header .container{
    height: 100%;
}

.logo{
    display: block;
}

#hamburger{
    color: var(--text-white);
}

#site-header nav{
    display: none;
}

#site-header ul{
    display: flex;
    list-style: none;
    align-items: center;
}

#site-header ul li a{
    text-decoration: none;
    
}

                    /* buttons */

.btn{
    border-radius: 2rem;
    padding: 0.4rem 1rem;
    text-decoration: none;
}

.btn-wht{
    background-color: var(--bg-white);
    color: var(--text-black);
}

.blue-btn{
    background-color: var(--primary-color);
    color: white;
    font-weight: 700;
}

.big-btn{
    padding: 0.5rem 3rem;
}

.btn-sec-col{
    color: var(--text-white);
    background-color: var(--secondary-color);
}

#intro .btn i{
    padding-right: 0.5rem;
}

                    /* intro  */

#intro{
    padding-bottom: 2rem;
}

#intro .card{
    background-color: var(--light-blue);
    padding: 1rem 2rem 0;
}

.icon{
    color: var(--primary-color);
    font-size: 5rem;
}

#intro h3{
    color:var(--primary-color);
    margin-top: 1rem;
}

#intro p {
    padding: 2rem 0;
    font-weight: 700;
    font-size: 0.9rem;
    color: var(--text-gray);
}

#img-box{
    max-width: 300px;
}

#phone-img {
    width: 100%;
    display: block;
    padding: 2rem 0 0 1rem;
    margin: 0 auto;
}

#planning, #benefits, #get-started{
    background-color: var(--secondary-color);
}

#planning .col{
    margin: 1rem 0;
}

#big-h2{
    margin: 4rem 0 3rem;
    font-size: 1.8rem;
}

#planning .col.less-rounded{
    padding: 2rem 1rem;
}

#planning .col.less-rounded p{
    font-style: italic;
    font-weight: 700;
}

#planning .col.less-rounded, #benefits .card{
    background-color:var(--bg-white);
}

#planning span {
    background-color: var(--secondary-color);
    display: block;
    width: 4rem;
    height: 4rem;
    margin: auto;
    line-height: 4rem;
    border-radius: 50%;
}

                            /* testimonials */

#testimonials :first-child p{
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

#testimonials .col{
    background-color: var(--secondary-color);
    color: var(--text-white);
    padding: 1rem;
}

.circolar-img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 2rem 0
}

#testimonials .col i{
    padding: 0 0.3rem;
}

.name {
    font-weight: 600;
    font-size: 1.3rem;
}

#testimonials{
    margin: 1rem 0 4rem;
}




footer{
    background-color: var(--bg-dark-gray);
}




                /* Media query */

@media screen and (min-width: 768px){
    .container{
         max-width: 738px;
    }

    #intro .cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    #intro .card{
        width: calc((100% / 3) - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }

    #intro .card:first-child{
        width: calc((100% / 3 * 2) - 1.5rem);
    }

    #img-box{
        max-width: none;
    }

    #big-h2{
        font-size: 3.5rem;
    }

    #testimonials .col{
        display: flex;
    }

    .text-box{
        text-align: start;
        padding-left: 2rem;
        margin: auto;
    }

    #benefits .cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    #benefits .card{
        width: calc(50% - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }

    #about-us .container{
        display: flex;
        justify-content: space-between;
    }

    #about-us .big-col{
        width: calc(70% - 0.5rem);
    }

    #about-us .small-col{
        width: calc(30% - 0.5rem);
    }

    #phone-img {
        width: 65%;
        padding: 2rem 0 0 0.5rem;
        margin: 0;
    }
}



@media screen and (min-width: 992px) {
    .container{
        max-width: 962px;
    }
 
    #intro .card:first-child{
        display: flex;
    }

    #intro .card:first-child>div{
        width: 50%;
    }

    #phone-img{
        width: 100%;
    }

    #img-box{
        align-self: flex-end;
    }

    #planning .container{
        display: flex;
        justify-content: space-between;
    }

    #big-h2{
        font-size: 2.5rem;
        margin: 10rem 0 4rem;
    }

    #planning .width-100{
        width: 80%;
    }

    #planning .col.less-rounded {
        padding: 1rem 2rem;
    }

    .left-col{
        width: 50%;
    }

    .right-col{
        width: 40%;
        align-self: flex-end;
    }
    
    #benefits .card{
        width: calc((100% /3) - 1.5rem);
    }

    #about-us .big-col{
        width: calc(80% - 0.7rem);
    }

    #about-us .small-col{
        width: calc(20% - 0.7rem);
    }

    #hamburger{
        display: none;
    }

    #site-header nav{
        display:block
    }
}

@media screen and (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }

}


                /* Fine Media query */
