*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0e84fb;
    --secondary-color: #9792e2;
    --light-blue: #b4dcfe;

    --text-black:#000;
    --text-white: #fff;
    --bg-white: #fff;
    --bg-dark-gray: #323232;
}

                /* Regole di debug */


.debug .box{
    padding: 1rem;
}









                /* Fine regole di debug */


                /* Utility */

.flex{
    display: flex;
}

.between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.more-rounded{
    border-radius: 20px;
}

.less-rounded{
    border-radius: 40px;
}

.center{
    text-align: center;
}

.margin-tb-1_5{
    margin: 1.5rem 0;
}

.margin-left-1_5{
    margin-left: 1.5rem;
}

.text-wht{
    color: var(--text-white);
}


                /* Fine UItility */

html{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.container{
    max-width: 600px;
    margin: auto;
    padding: 0 1.5rem;
}

main{
    padding-top: 100px;
}

section{
    scroll-margin-top: 85px;
}

#site-header{
    background-color: var(--primary-color);
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
}

#site-header .container{
    height: 100%;
}

.logo{
    display: block;
}

#hamburger{
    color: var(--text-white);
    font-size: 2rem;
}

#site-header nav{
    display: none;
}

#site-header ul{
    display: flex;
    list-style: none;
    align-items: center;
}

#site-header ul li a{
    text-decoration: none;
    
}

.btn{
    border-radius: 1rem;
    padding: 0.4rem 1rem;
}

.btn-wht{
    background-color: var(--bg-white);
    color: var(--text-black);
}

#intro{
    padding-bottom: 2rem;
}

#intro .card{
    background-color: var(--light-blue);
}

#planning, #benefits, #get-started{
    background-color: var(--secondary-color);
    padding: 2rem 0;
}

#planning .col{
    margin: 1rem 0;
}

#planning .col.less-rounded, #benefits .card{
    background-color:var(--bg-white);
}


#testimonials .col{
    background-color: var(--secondary-color);
}

#testimonials{
    margin: 1rem 0 2rem;
}

footer{
    background-color: var(--bg-dark-gray);
}




                /* Media query */

@media screen and (min-width: 768px){
    .container{
         max-width: 738px;
    }

    #intro .cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    #intro .card{
        width: calc((100% / 3) - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;

    }

    #intro .card:first-child{
        width: calc((100% / 3 * 2) - 1.5rem);
    }

    #testimonials .col{
        display: flex;
    }

    #benefits .cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    #benefits .card{
        width: calc(50% - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }

    #about-us .container{
        display: flex;
        justify-content: space-between;
    }

    #about-us .big-col{
        width: calc(70% - 0.5rem);
    }

    #about-us .small-col{
        width: calc(30% - 0.5rem);
    }
}



@media screen and (min-width: 992px) {
    .container{
        max-width: 962px;
    }
 
    #intro .card:first-child{
        display: flex;
    }

    #intro .card:first-child>div{
        width: 50%;
    }

    #planning .container{
        display: flex;
        justify-content: center;
    }

    #planning .col{
        width: 50%;
    }

    #benefits .card{
        width: calc((100% /3) - 1.5rem);
    }

    #about-us .big-col{
        width: calc(80% - 0.7rem);
    }

    #about-us .small-col{
        width: calc(20% - 0.7rem);
    }

    #hamburger{
        display: none;
    }

    #site-header nav{
        display:block
    }
}

@media screen and (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }

}


                /* Fine Media query */
